name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
          args: ./...

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@latest

      - name: Check code formatting with gofumpt
        run: |
          if [ -n "$(gofumpt -l .)" ]; then
            echo "Code is not formatted with gofumpt. Run 'make format' to fix."
            exit 1
          fi

      - name: Check imports formatting with gci
        run: |
          gci diff --skip-generated -s Standard -s Default -s localmodule . || (echo "Imports are not formatted with gci. Run 'make format' to fix." && exit 1)
