name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'
          cache-dependency-path: go.sum
      
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest
      
      - name: Run golangci-lint
        run: golangci-lint run ./...
      
      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@latest
      
      - name: Install gci
        run: go install github.com/daixiang0/gci@latest
      
      - name: Check code formatting with gofumpt
        run: |
          if [ -n "$(gofumpt -l .)" ]; then
            echo "Code is not formatted with gofumpt. Run 'make fmt' to fix."
            exit 1
          fi
      
      - name: Check imports formatting with gci
        run: |
          gci diff --skip-generated -s Standard -s Default -s "Prefix(people)" . || (echo "Imports are not formatted with gci. Run 'make fmt' to fix." && exit 1)

